:root {
    --main-color: #dc3545;
    --primary-color: #2c2c2e;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --dark-color: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0px, rgb(76, 76, 76) 64%);


    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full_width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid_column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid_column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* MODAL CONTENT */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn--size--s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    filter: brightness(80%);
    background-color: #999;
}

/*  Selection */
.select_input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.select_input-lable {
    font-size: 14px;
}

.select_input-icon {
    font-size: 14px;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.select_input-list {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    border-radius: 3px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    box-shadow: 0 2px 31px 0 rgba(0, 0, 0, 0.3);
}

.select_input-link {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select_input-link:hover {
    background-color: #e0e0e0;
}

.select_input:hover .select_input-list {
    display: block;
}

.select_input-list::after {
    /* Tạo bắt cầu  */
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    top: -10px;
    height: 15px;
}

/* Phân trang */
.home_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.home_pagination-item {
    margin: 0 4px;
}

.home_pagination-next{
    margin: 0 12px;
}

.home_pagination-item-active .home_pagination-item-link {
    color: var(--white-color);
    background-color: var(--black-color);
}

.home_pagination-item-dont .home_pagination-item-link{
    border: 1px solid #929292;
}

.home_pagination-item-dont .home_pagination-item-next{
    border: 1px solid #929292;
}

.home_pagination-item-dont .home_pagination-item-next:hover{
    color: var(--white-color);
    background-color: var(--black-color);
}

.home_pagination-item-dont .home_pagination-item-link:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.home_pagination-item-link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #454749;
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.home_pagination-item-next{
    min-width: 70px;
    height: 38px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #454749;
    line-height: 38px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 0.5px;
}